<div class="container">
    <div class="form-group">
        <a class="btn btn-warning" routerLink="/admin/product/new">New Product</a>
    </div>
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search..." (keyup)="filter$.next($event.target.value)">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
    <table class="table table-striped" [mfData]="products" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
            <tr>
                <th style="width: 5%">
                </th>
                <th style="width: 40%">
                    <mfDefaultSorter by="title">Title</mfDefaultSorter>
                </th>
                <th style="width: 40%">
                    <mfDefaultSorter by="price">Price</mfDefaultSorter>
                </th>
                <th style="width: 15%">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of mf.data; index as i">
                <td>{{i + 1}}</td>
                <td>{{item.title}}</td>
                <td>{{item.price | currency: 'USD'}}</td>
                <td>
                    <a [routerLink]="['/admin/product', item.id]">Edit</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
</div>